<div class="h-entry">
    <div class="u-author h-card">
      <img src="#" class="u-photo" width="40">
      <a href="#" class="u-url p-name">$Name</a>
    </div>
    <p>in reply to: <a class="u-in-reply-to" href="#">$Target</a></p>
    <p class="summary">
      <img class="u-photo" src="{{it.image}}">
      You earned the <span class="p-name">{{=it.name}}</span> {{it.decription}}
    </p>
    <p class="e-content">To earn the <a href="{{it.criteria}}">{{=it.name}"</a>: you {{=it.description}}</p>
    <p>
      <a href="https://edu-522.glitch.me/" class="u-url">
        <time class="dt-published" datetime="2018-08-04T17:15:00-0700">August 8th, 2018</time>
      </a>
    </p>
</div>